.layout {
    display: flex;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
    display: block;
}

.main {
    display: block;
    padding: 20px;
}

/* phần hiện thông tin thanh profile */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: #00537A;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* phần hiện các nút bấm search xóa add */
.actions {
    display: flex;
    margin-bottom: 2px;
}

.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #D0D5DD;
    background: #FFFFFF;
    padding: 10px;
    height: 30px;
    width: 300px;
}

.search-box img.icon {
    margin-right: auto;
    width: 20px;
    height: 20px;
}

.search-box input {
    width: max-content;
    margin-right: auto;
    border: none;
    font-size: 20;
}

#searchButton {
    margin-left: auto;
    background-color: #000AFF;
    color: white;
    border: 2px solid #7280FF;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img {
    height: 20px;
    width: 20px;
    border-color: #7280FF;
}

/* phần bảng show */
.management {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    border: 2px solid #EAECF0;
    padding: 15px;
}

.button {
    display: flex;
    justify-content: center;
    /* Đặt các nút vào giữa */
    gap: 200px;
    /* Khoảng cách giữa các nút */
}

.approve {
    background-color: #000AFF;
    border: #7280FF;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #7280FF;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.reject {
    background-color: #B91111;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #FF025D;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.approve:hover{
    background-color: #7e8afb;
}

.reject:hover {
    background-color: #d13a3a;
}