<div class="layout">
  <app-sidebar></app-sidebar> <!-- Hiển thị SidebarComponent -->
  <div class="main-content">

    <header class="header">
      <div class="user-profile">
        <img src="assets/profile.png" alt="User Profile" class="profile-pic" />
      </div>
    </header>

    <div class="main">

      <!-- Khung Search -->
      <div class="search-box">
        <img src="assets/search.png" alt="Search Icon" class="icon" />
        <input type="text" id="searchContainer" placeholder="Search" />
        <button id="searchButton" (click)="onSearch()"><img src="assets/arrow.png" alt="arrow Icon" class="icon" /></button>
      </div>
    </div>

    <!-- bảng quản lý -->
    <div *ngIf="showManagement" class="management">
      <app-show></app-show>
      <div class="button">
        <button class="reject"> Reject</button>
        <button class="approve">Approve</button>
      </div>
    </div>
  </div>
</div>