.form-register {
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    max-height: 400px; /* Chiều cao tối đa cho form */
  overflow-y: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .containerNumber {
    margin-bottom: 10px;
  }
  
  .deadlineform{
    display: flex;
    flex-direction: column;
  }
  /*nút bấm*/
  .button {
    display: flex;
    justify-content: space-between;
  }
  
  
  .submitbtn {
    background-color: #000AFF;
    border: #7280FF;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #7280FF;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: auto;
  }
  
  .submitbtn:hover {
    background-color: #007BFF;
  }
  
  .cancelbtn {
    background-color: #C8C9D7;
    color: black;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    border: none;
  }
  
  .cancelbtn:hover {
    background-color: #d9dae6;
  }