.layout {
    display: flex;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
    display: block;
}

.main {
    display: block;
    padding: 20px;
}

/* phần hiện thông tin thanh profile */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: #00537A;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* phần hiện các nút bấm search xóa add */
.actions {
    display: flex;
    margin-bottom: 2px;
}

#addButton {
    background-color: #000AFF;
    border: #7280FF;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #7280FF;
    cursor: pointer;
    width: 200px;
    height: 50px;
    z-index: 1;
    /* Đảm bảo nút add container không bị ảnh hưởng bởi form */

}

#addButton img.icon {
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

#addButton:hover {
    background-color: #007BFF;
}

#deleteButton {
    margin-left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteButton img.icon {
    margin-right: 8px;
    width: 25px;
    height: 25px;
}

.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #D0D5DD;
    background: #FFFFFF;
    padding: 10px;
    height: 30px;
    width: 300px;
}

.search-box img.icon {
    margin-right: auto;
    width: 20px;
    height: 20px;
}

.search-box input {
    width: max-content;
    margin-right: auto;
    border: none;
    font-size: 20;
}

#searchButton {
    margin-left: auto;
    background-color: #000AFF;
    color: white;
    border: 2px solid #7280FF;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img {
    height: 20px;
    width: 20px;
    border-color: #7280FF;
}

/* phần bảng quản lý */
/* header hiện thuộc tính */
.management header {
    background-color: #F9FAFB;
    border: 2px solid #EAECF0;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.management header:not(.checkbox) {
    display: flex;
    justify-content: flex-start;
}

.header-item1,
.header-item2 {
    margin-right: 165px;
}

.header-item3 {
    margin-right: 140px;
}

.header-item4 {
    margin-right: 185px;
}

.sortarrow {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.sortarrow.ascending {
    transform: rotate(180deg);
}

/* body hiện value */
.management body {
    margin: auto;
}

.item-layout {
    background-color: #FFFFFF;
    border: 2px solid #EAECF0;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.body-item:not(:first-child) {
    white-space: nowrap;
    flex: 1;
    width: 200px;
}

.delete-item,
.update-item {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.iconbtn {
    margin-left: auto;
}

/* footer hiện chuyển trang */
.management footer {
    background-color: #FFFFFF;
    border: 2px solid #EAECF0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn {
    background-color: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

/* formfield */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Đảm bảo form ở trên các thành phần khác */
}