<div class="layout">
  <app-sidebar></app-sidebar> <!-- Hiển thị SidebarComponent -->
  <div class="main-content">

    <header class="header">
      <div class="user-profile">
        <img src="assets/profile.png" alt="User Profile" class="profile-pic" />
      </div>
    </header>
    <div class="main">
      <!-- khung nút bấm -->
      <div class="actions">

        <!-- Khung Search -->
        <div class="search-box">
          <img src="assets/search.png" alt="Search Icon" class="icon" />
          <input type="text" id="searchContainer" placeholder="Search" />
          <button id="searchButton"><img src="assets/arrow.png" alt="arrow Icon" class="icon" /></button>
        </div>
      </div>

      <!-- bảng quản lý -->
      <div class="management">
        <header>
          <!-- <div class="header-item checkbox">
            <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)"/>
          </div> -->
          <div class="header-item">Container Number</div>
          <div class="header-item">ISO</div>
          <div class="header-item">Owner</div>
          <div class="header-item" (click)="sortBySize()">Size
            <img src="assets/sortarrow.png" class="sortarrow" [class.ascending]="isAscending">
          </div>
          <div class="header-item">Type</div>
          <div class="header-item">Maximum Weight</div>
          <div class="header-item">Tare Weight</div>
          <div class="header-item">Date Manufacture</div>
          <div class="header-item">Position</div>
          <div class="header-item">Container Status</div>
          <div class="header-item">Status</div>
        </header>

        <body>
          <div *ngFor="let data of paginated">
            <div class="body-row">
            <div class="item-layout">
              <!-- <div class="body-item checkbox">
                <input type="checkbox" id="select" [checked]="data.selected" (change)="toggleCheckbox(data)"/>
              </div> -->
              <div class="body-item" (click)="showModal(data.containerNumber)">{{data.containerNumber}}</div>
              <div class="body-item" (click)="showModal(data.iso)">{{data.iso}}</div>
              <div class="body-item" (click)="showModal(data.ownerName)">{{data.ownerName}}</div>
              <div class="body-item" (click)="showModal(data.size.toString())">{{data.size}}</div>
              <div class="body-item" (click)="showModal(data.containerType)">{{data.containerType}}</div>
              <div class="body-item" (click)="showModal(data.maximumWeight.toString())">{{data.maximumWeight}}</div>
              <div class="body-item" (click)="showModal(data.tareWeight.toString())">{{data.tareWeight}}</div>
              <div class="body-item" (click)="showModal(data.dateOfManufacture.toString())">{{data.dateOfManufacture | date: 'yyyy/MM/dd'}}</div>
              <div class="body-item" (click)="showModal(data.position)">{{data.position}}</div>
              <div class="body-item" (click)="showModal(data.containerStatus)">{{data.containerStatus}}</div>
              <div class="body-item" (click)="showModal(data.locationStatus)">{{data.locationStatus}}</div>
              <div class="iconbtn"></div>
            </div>
          </div>
        </div>
      <!-- Modal -->
      <div id="modal" class="modal" style="display:none;">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <p id="modal-text"></p>
        </div>
      </div>
      </body>

      <footer>
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn previousbtn">Previous</button>
        <div class="footer-item">Page {{ currentPage }} of {{ totalPages }}</div>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn nextbtn">Next</button>
      </footer>
    </div>
  </div>
</div>
</div>