.layout {
    display: flex;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
    display: block;
}

.main {
    display: block;
    padding: 20px;
}

/* phần hiện thông tin thanh profile */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: #00537A;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* phần hiện các nút bấm search xóa add */
.actions {
    display: flex;
    margin-bottom: 2px;
}

.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #D0D5DD;
    background: #FFFFFF;
    padding: 10px;
    height: 30px;
    width: 300px;
}

.search-box img.icon {
    margin-right: auto;
    width: 20px;
    height: 20px;
}

.search-box input {
    width: max-content;
    margin-right: auto;
    border: none;
    font-size: 20;
}

#searchButton {
    margin-left: auto;
    background-color: #000AFF;
    color: white;
    border: 2px solid #7280FF;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton img {
    height: 20px;
    width: 20px;
    border-color: #7280FF;
}

/* phần bảng quản lý */
/* header hiện thuộc tính */
.management header {
    background-color: #F9FAFB;
    border: 2px solid #EAECF0;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.management header:not(.checkbox) {
    display: flex;
    justify-content: flex-start;
}

.header-item:not(:first-child) {
    margin: auto;
    border-left: 1px solid rgb(0, 0, 0, 0.2);
    padding-left: 15px;
}

.sortarrow {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.sortarrow.ascending {
    transform: rotate(180deg);
}

/* body hiện value */
.management body {
    margin: auto;
}

.item-layout {
    background-color: #FFFFFF;
    border: 2px solid #EAECF0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    flex-wrap: nowrap;
}
.modal {
    display: none; /* Ẩn modal theo mặc định */
    position: fixed; /* Ở vị trí cố định */
    z-index: 1; /* Trên cùng */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Cho phép cuộn nếu cần */
    background-color: rgb(0,0,0); /* Màu nền */
    background-color: rgba(0,0,0,0.4); /* Màu nền với độ trong suốt */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% từ trên và tự động căn giữa */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Có thể điều chỉnh */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.body-item {
    /* flex: 1; Đảm bảo các phần tử sẽ co giãn để chiếm toàn bộ không gian */
    text-align: center;
    white-space: nowrap;
    /* Ngăn nội dung xuống hàng */
    overflow: hidden;
    /* Giới hạn nội dung trong phạm vi phần tử */
    text-overflow: ellipsis;
    /* Thêm dấu "..." khi nội dung quá dài */
}
.body-item:nth-child(1) {
    flex-basis: 130px;
}
.body-item:nth-child(2) {
    flex-basis: 80px;
}

.body-item:nth-child(3) {
    flex-basis: 100px;
}

.body-item:nth-child(4) {
    flex-basis: 100px;
}

.body-item:nth-child(5) {
    flex-basis: 70px;
}

.body-item:nth-child(6) {
    flex-basis: 180px;
}

.body-item:nth-child(7) {
    flex-basis: 140px;
}

.body-item:nth-child(8) {
    flex-basis: 120px;
    margin-right: 30px;
}

.body-item:nth-child(9) {
    flex-basis: 140px;
}

.body-item:nth-child(10) {
    flex-basis: 150px;
}

.body-item:nth-child(11) {
    flex-basis: 70px;
}

.iconbtn {
    margin-left: auto;
}

.iconbtn img {
    cursor: pointer;
}

/* footer hiện chuyển trang */
.management footer {
    background-color: #FFFFFF;
    border: 2px solid #EAECF0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn {
    background-color: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

/* formfield */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Đảm bảo form ở trên các thành phần khác */
}

/* pop up delete */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #000000;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup.show {
    display: block;
}

.popup-content {
    display: flex;
    justify-content: space-between;
}

.popup-content button {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #00537A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #003f5a;
}