<div class="sidebar">
  <!-- Header -->
  <div class="sidebar-header">
    <h1>
      <img src="assets/logo.png" alt="DEPOT Icon" class="logo" />DEPOT
    </h1>
  </div>

  <!-- Service Container -->
  <div class="service-container">
    <h2>Service</h2>
    <ul class="nav-links">
      <li>
        <button [routerLink]="['/dashboard']" routerLinkActive="active">
          <img src="assets/dashboard.png" alt="Dashboard Icon" class="icon-dashboard" />Dashboard
        </button>
      </li>
      <li>
        <button [routerLink]="['/container']" routerLinkActive="active">
          <img src="assets/container.png" alt="Container Icon" class="icon" />Container
        </button>
      </li>
      <li>
        <button [routerLink]="['/approvements']" routerLinkActive="active">
          <img src="assets/inout.png" class="icon" />Approvements
        </button>
      </li>
      <li>
        <button [routerLink]="['/register']" routerLinkActive="active">
          <img src="assets/command.png" class="icon" />Register Eir
        </button>
      </li>
      <li>
        <button [routerLink]="['/vehicle']" routerLinkActive="active">
          <img src="assets/vehicle.png" class="icon" />vehicle
        </button>
      </li>
    </ul>
  </div>

  <!-- Logout Button -->
  <div class="logout">
    <button (click)="onLogout()">
      <img src="assets/logout.png" alt="Dashboard Icon" class="logout-icon" />Log Out
    </button>
  </div>
</div>