<div class="layout">
  <app-sidebar></app-sidebar> <!-- Hiển thị SidebarComponent -->
  <div class="main-content">

    <header class="header">
      <div class="user-profile">
        <img src="assets/profile.png" alt="User Profile" class="profile-pic" />
      </div>
    </header>

    <div class="main">
      <!-- khung nút bấm -->
      <div class="actions">
        <!-- Nút dropdown -->
        <div class="dropdown">
          <button class="dropbtn" (click)="toggleDropdown()">Container Truck
            <img src="assets/drop.png" class="icon" />
          </button>
          <div class="dropdownContent" [class.show]="isDropdownOpen">
            <a href="#">Add Command 1</a>
            <a href="#">Add Command 2</a>
            <a href="#">Add Command 3</a>
          </div>
        </div>

        <!-- Nút Delete (Trash Bin Icon) -->
        <button id="deleteButton" (click)="openDeleteConfirmation()">
          <img src="assets/trashbin.png" alt="Delete Icon" class="icon" /> Delete All Selected
        </button>

        <div class="popup" [class.show]="isPopupVisible">
        <p>Confirm delete</p>
        <div class="popup-content">
          <button (click)="cancelDelete()">Cancel</button>
          <button (click)="confirmDelete()">OK</button>
        </div>
      </div>

      <!-- Khung Search -->
      <div class="search-box">
        <img src="assets/search.png" alt="Search Icon" class="icon" />
        <input type="text" id="searchContainer" placeholder="Search" />
        <button id="searchButton"><img src="assets/arrow.png" alt="arrow Icon" class="icon" /></button>
      </div>
    </div>

    <!-- bảng quản lý -->
    <div class="management">
      <header>
        <div class="header-item checkbox">
          <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)"/>
        </div>
        <div class="header-item1">License Plate</div>
        <div class="header-item2">Vehicle Capacity</div>
        <div class="header-item3">Driver Name</div>
        <div class="header-item4">Driver Contact</div>
        <div class="header-item5">Company Name</div>
        <div class="header-item6">Status</div>
      </header>

      <body>
        <div *ngFor="let data of paginated" class="body-row">
          <div class="item-layout">
            <div class="body-item checkbox">
              <input type="checkbox" id="select" [checked]="data.selected" (change)="toggleCheckbox(data)"/>
            </div>
            <div class="body-item">{{ data.licensePlate }}</div>
            <div class="body-item">{{ data.vehicleCapacity }}</div>
            <div class="body-item">{{ data.driverName }}</div>
            <div class="body-item">{{ data.driverContact }}</div>
            <div class="body-item">{{ data.companyName }}</div>
            <div class="body-item">{{ data.status }}</div>
            <div class="iconbtn">
              <img src="assets/trashbin.png" class="delete-item"(click)="openDeleteConfirmation()">
            </div>
          </div>
        </div>
      </body>

      <footer>
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn previousbtn">Previous</button>
        <div class="footer-item">Page {{ currentPage }} of {{ totalPages }}</div>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn nextbtn">Next</button>
      </footer>
    </div>
  </div>
</div>
</div>