<div class="form-show">
  <h2>Eir Information</h2>
  <div class="form-info">
    
    <!-- Bên trái -->
    <div class="form-left">

      <div id="containerNumber">Container Number: abc</div><br />

      <div id="iso">ISO: abc</div><br />

      <div id="owner">Owner: abc</div><br />

      <div id="size">Size: abc</div><br />

      <div id="containerType">Container Type: abc</div><br />

      <div id="manufacturerDate">Manufacturer Date: abc</div><br />

      <div id="maxWeight">Maximum Weight: abc</div><br />

      <div id="tareWeight">Tare Weight: abc</div><br />

      <div id="containerStatus">Container Status: abc</div><br />

      <div id="fullContainerStatus">Full Container Status: abc</div><br />
    </div>

    <!-- Bên phải -->
    <div class="form-right">

      <div id="CustomerName">Customer Name: abc</div><br />

      <div id="TaxCode">Tax Code: abc</div><br />

      <div id="lineOperator">Line Operator: abc</div><br />

      <div id="licensePlate">Vehicle: abc</div><br />

      <div id="licensePlate">Vehicle License Plate: abc</div><br />

      <div id="deadline">Deadline: abc</div><br />

      <div id="Movement">Eir Type: abc</div><br />
    </div>

     <!-- <div class="form-left">
      <div id="containerNumber">Container Number: {{ selectedContainer?.containerNumber }}</div><br />
      <div id="iso">ISO: {{ selectedContainer?.iso }}</div><br />
      <div id="owner">Owner: {{ selectedContainer?.owner }}</div><br />
      <div id="size">Size: {{ selectedContainer?.size }}</div><br />
      <div id="containerType">Container Type: {{ selectedContainer?.containerType }}</div><br />
      <div id="manufacturerDate">Manufacturer Date: {{ selectedContainer?.manufacturerDate }}</div><br />
      <div id="maxWeight">Maximum Weight: {{ selectedContainer?.maxWeight }}</div><br />
      <div id="tareWeight">Tare Weight: {{ selectedContainer?.tareWeight }}</div><br />
      <div id="containerStatus">Container Status: {{ selectedContainer?.containerStatus }}</div><br />
      <div id="fullContainerStatus">Full Container Status: {{ selectedContainer?.fullContainerStatus }}</div><br />
    </div> -->


    <!-- <div class="form-right">
      <div id="CustomerName">Customer Name: {{ selectedEir?.customerName }}</div><br />
      <div id="TaxCode">Tax Code: {{ selectedEir?.taxCode }}</div><br />
      <div id="lineOperator">Line Operator: {{ selectedEir?.lineOperator }}</div><br />
      <div id="licensePlate">Vehicle: {{ selectedEir?.vehicle }}</div><br />
      <div id="licensePlate">Vehicle License Plate: {{ selectedEir?.licensePlate }}</div><br />
      <div id="deadline">Deadline: {{ selectedEir?.deadline }}</div><br />
      <div id="Movement">Eir Type: {{ selectedEir?.type }}</div><br />
    </div> -->
  </div>
</div>
