<div class="form-container">
  <form [formGroup]="containerForm" (ngSubmit)="onSubmit()">
    <!-- Dropdown for Container Type -->
    <label for="containerType">Container Type:</label>
    <select id="containerType" formControlName="containerType">
      <option value="Type1">Type 1</option>
      <option value="Type2">Type 2</option>
    </select><br />

    <!-- Dropdown for Owner -->
    <label for="owner">Owner:</label>
    <select id="owner" formControlName="owner">
      <option value="Owner1">Owner 1</option>
      <option value="Owner2">Owner 2</option>
    </select><br />

    <!-- Dropdown for Line Operator -->
    <label for="lineOperator">Line Operator:</label>
    <select id="lineOperator" formControlName="lineOperator">
      <option value="Operator1">Operator 1</option>
      <option value="Operator2">Operator 2</option>
    </select><br />

    <!-- Dropdown for Size -->
    <label for="size">Size:</label>
    <select id="size" formControlName="size">
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
    </select><br />

    <!-- Dropdown for Full Status -->
    <label for="fullStatus">Full Status:</label>
    <select id="fullStatus" formControlName="fullStatus">
      <option value="Full">Full</option>
      <option value="Empty">Empty</option>
    </select><br />

    <!-- Date Picker for Manufacturer Date -->
    <label for="manufacturerDate">Manufacturer Date:</label>
    <input id="manufacturerDate" formControlName="manufacturerDate" type="date" /><br />

    <!-- Input for Maximum Weight -->
    <label for="maxWeight">Maximum Weight:</label>
    <input id="maxWeight" formControlName="maxWeight" type="number" placeholder="Enter Maximum Weight" /><br />

    <!-- Input for Tare Weight -->
    <label for="tareWeight">Tare Weight:</label>
    <input id="tareWeight" formControlName="tareWeight" type="number" placeholder="Enter Tare Weight" /><br />

    <!-- Input for ISO -->
    <label for="iso">ISO:</label>
    <div class="iso">
      <input id="iso" formControlName="iso" type="text" placeholder="Enter ISO" />
      <button>
        <img src="assets/search.png" alt="Add Icon" class="icon" />
      </button>
    </div>
    <!-- Submit Button -->
    <div class="button">
      <button class="cancelbtn" type="cancel" (click)="cancelForm()">Cancel</button>
      <button class="submitbtn" type="submit" [disabled]="containerForm.invalid">Submit</button>
    </div>
  </form>
</div>