.dashboard-layout {
    display: flex;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
}

.dashboard-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: #00537A;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Hình ảnh tròn */
    margin-right: 10px;
}

/* container các bảng thống kê ---------------------------------------------------------------- */
.statistics-container {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
}

/* Cập nhật kiểu dáng cho khung overview */
.overview {
    display: flex;
    /* Sử dụng flexbox để sắp xếp các metric */
    justify-content: space-between;
    /* Phân phối đều các metric */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 120px;
    margin-bottom: 40px;
}

.metric {
    flex: 1;
    text-align: center;
    padding-top: 30px;
}

.metric.metric-2 {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.metric p {
    color: #8A92A6;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    margin: 5px;
}

.metric h3 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    margin: 0;
}

/* container biểu đồ ở đây */
.charts-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* tỉ lệ 2 hàng 1:1 nếu muốn thêm hàng thì 1 1 1 */
    grid-template-columns: 4fr 3fr;
    /* tỉ lệ của 2 cột 4:3 nếu muốn thêm cột thì khai thêm vào ví dụ 4 3 3 */
    gap: 20px;
}

.daily {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.daily-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.daily-header h3 {
    margin: 0;
    font-size: 20px;
}

.line {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: auto;
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.line-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.line-header h3 {
    margin: 0;
    font-size: 20px;
}

.inventory {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: auto;
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inventory-body {
    display: flex; /* Sử dụng Flexbox */
    align-items: center; /* Căn chỉnh theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa canvas và thông tin */
  }

  .stats {
    flex: 1; /* Để thông tin chiếm không gian còn lại */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Khoảng cách giữa các mục thông tin */
  }
  #pieChart {
    flex: 1; /* Để canvas chiếm không gian còn lại */
    max-width: 250px;
    max-height: 250px;
  }
.doticon{
    width: 10px;
    margin-right: 10px;
}
.line canvas,
.daily canvas {
    max-width: 100%;
    /* Đảm bảo canvas không vượt quá chiều rộng của bảng */
    max-height: 95%;
    /* Đảm bảo canvas không vượt quá chiều cao của bảng */
    /* Tự động điều chỉnh chiều rộng */
    height: auto;
    /* Tự động điều chỉnh chiều cao */
}