<div class="dashboard-layout">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar> <!-- Hiển thị SidebarComponent -->

  <!-- Main Content -->
  <div class="main-content">

    <!-- Header -->
    <header class="dashboard-header">
      <div class="user-profile">
        <img src="assets/profile.png" alt="User Profile" class="profile-pic" />
      </div>
    </header>

    <!-- Thống kê -->
    <div class="statistics-container">

      <!-- Khung 1: Hiển thị 3 chỉ số chính -->
      <div class="overview">
        <div class="metric metric-1">
          <h3>750K</h3>
          <p>Container In Today</p>
        </div>
        <div class="metric metric-2">
          <h3>7,500</h3>
          <p>Container Out Today</p>
        </div>
        <div class="metric metric-3">
          <h3>500k</h3>
          <p>Total In Depot</p>
        </div>
      </div>

      <!-- Khung cha cho 3 biểu đồ -->
      <div class="charts-container">
        <!-- Khung 2: Biểu đồ dạng cột thứ nhất -->
        <div class="daily">
          <div class="daily-header">
            <h3>Tổng xuất nhập</h3>
            <select id="weekSelect">
              <option value="week">Tuần</option>
              <option value="month">Tháng</option>
              <option value="year">Năm</option>
            </select>
          </div>
          <canvas id="barChart1"></canvas>
        </div>

        <!-- Khung 3: Biểu đồ dạng cột thứ hai -->
        <div class="line">
          <div class="line-header">
            <h3>Tổng xuất nhập theo hãng vận tải</h3>
            <select id="line-select">
              <option value="Evergreen">Evergreen Marine</option>
            </select>
          </div>
          <canvas id="barChart2"></canvas>
        </div>

        <!-- Khung 4: Biểu đồ tròn hai vòng -->
        <div class="inventory">
          <div class="inventory-header">
            <h3>Tổng tồn kho</h3>
          </div>
          <div class="inventory-body">
            <canvas id="pieChart"></canvas>
            <div class="stats">
              <p id="totalStock">Tổng tồn kho: </p>
              <p id="stockUnder10Days"><img src="assets/dot1.png" alt="dot1 Icon" class="doticon" />Tồn mới: </p>
              <p id="stockOver10Days"><img src="assets/dot2.png" alt="dot2 Icon" class="doticon" />Tồn lâu (> 10 ngày): </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet> <!-- Nơi các routes con sẽ được render -->
  </div>
</div>