<div class="layout">
  <app-sidebar></app-sidebar> <!-- Hiển thị SidebarComponent -->
  <div class="main-content">

    <header class="header">
      <div class="user-profile">
        <img src="assets/profile.png" alt="User Profile" class="profile-pic" />
      </div>
    </header>

    <div class="main">
      <!-- khung nút bấm -->
      <div class="actions">

        <!-- Nút select -->
        <div>
          <select id="itemSelect" [(ngModel)]="selectedItem" (change)="filterData()">
            <option *ngFor="let item of items" [value]="item.value">{{ item.label }}</option>
          </select>
        </div>

        <!-- Nút Add phiếu eir -->
        <button id="addButton" (click)="toggleForm()">
          <img src="assets/add.png" alt="Add Icon" class="icon" />Register Eir
        </button>
        <!-- gọi formfield add phiếu eir -->
        <div *ngIf="isFormVisible" class="form-container">
          <app-formregister (cancel)="onCancel()"></app-formregister> <!-- Gọi FormFieldComponent ở đây -->
        </div>

        <!-- Nút Delete (Trash Bin Icon) -->
        <button id="deleteButton" (click)="openDeleteConfirmation()">
          <img src="assets/trashbin.png" alt="Delete Icon" class="icon" /> Delete All Selected
        </button>

        <div class="popup" [class.show]="isPopupVisible">
          <p>Confirm delete</p>
          <div class="popup-content">
            <button (click)="cancelDelete()">Cancel</button>
            <button (click)="confirmDelete()">OK</button>
          </div>
        </div>

        <!-- Khung Search -->
        <div class="search-box">
          <img src="assets/search.png" alt="Search Icon" class="icon" />
          <input type="text" id="searchContainer" placeholder="Search" />
          <button id="searchButton"><img src="assets/arrow.png" alt="arrow Icon" class="icon" /></button>
        </div>
      </div>

      <!-- bảng quản lý -->
      <div class="management">
        <header>
          <div class="header-item checkbox">
            <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)" />
          </div>
          <div class="header-item1">Eir number</div>
          <div class="header-item2">Customer Name</div>
          <div class="header-item3">Tax Code</div>
          <div class="header-item4">Container Number</div>
          <div class="header-item5">Vehicle</div>
          <div class="header-item6">License Plate</div>
          <div class="header-item7" (click)="sortByDate()">Deadline
            <img src="assets/sortarrow.png" class="sortarrow" [class.ascending]="sortField === 'date' && isAscending">
          </div>
          <div class="header-item8">Type</div>
        </header>

        <body>
          <div *ngFor="let data of paginated" class="body-row">
            <div class="item-layout">
              <div class="body-item checkbox">
                <input type="checkbox" id="select" [checked]="data.selected" (change)="toggleCheckbox(data)" />
              </div>
              <div class="body-item">{{data.eirNumber}}</div>
              <div class="body-item">{{data.customerName}}</div>
              <div class="body-item">{{data.taxCode}}</div>
              <div class="body-item">{{data.containerNumber}}</div>
              <div class="body-item">{{data.vehicleTypeName}}</div>
              <div class="body-item">{{data.licensePlate}}</div>
              <div class="body-item">{{data.deadline | date: 'yyyy/MM/dd'}}</div>
              <div class="body-item">{{data.eirType}}</div>
              <div class="iconbtn">
                <img src="assets/trashbin.png" class="delete-item" (click)="openDeleteConfirmation()">
                <img src="assets/pen.png" class="update-item" (click)="toggleForm()">
                <img src="assets/eye.png" class="show-item" (click)="showInfo()">
              </div>
            </div>
          </div>
        </body>

        <div class="popup-showinfo" *ngIf="isShow" (click)="isShow = false">
          <app-show></app-show>
        </div>

        <footer>
          <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn previousbtn">Previous</button>
          <div class="footer-item">Page {{ currentPage }} of {{ totalPages }}</div>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn nextbtn">Next</button>
        </footer>
      </div>
    </div>
  </div>
</div>